  /* we set the body to be tall as viewport height */
  body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    height: 100vh;
    margin: 0px;
  }

  main {
    height: 100%;
    background-color: white;
    background-image: url('./assets/background.png');
    background-position: center;
    background-size: 90vh;
    background-repeat: no-repeat;
  }

  .cv-container {
    position: fixed;
    top: 40vh;
    left: 25%;
    border: 2px solid red;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .big-cv {
    display: none;
    position: absolute;
    width: 50vh;
    height: 50vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index:999;
  }

  .cv-container img {
    height: 100%;
    width: 100%;
  }

  .folder-container {
    position: fixed;
    top: 22%;
    left: 52%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 50vh;
  }

  .folder {
    height: 120px;
    width: 120px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: black;
    background-image: url('./assets/folder_black.png');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .red {
    background-image: url('./assets/folder_red.png');
  }

  .insta-icon {
    background-image: url('./assets/insta_icon.png');
    background-size: 60%;
  }

  .mail-icon {
    background-image: url('./assets/mail_icon.png');
    background-size: 60%;
  }
  .si-icon {
    background-image: url('./assets/si_icon.png');
    background-size: 30%;
    width: 120px;
    height: 120px;
  }

  .trash-icon {
    background-image: url('./assets/trash.webp');
    background-size: 60%;
  }

  .folder:active {
    cursor: grabbing;
  }

  .window {
    position: absolute;
    z-index: 999;
    border: 1px solid #ccc;
    border-radius: 10px 10px 0 0;
    background-color: white;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
  }

  .window-topbar {
    background-color: #ccc;
    border-radius: 10px 10px 0 0;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 10px;
  }

  .window-topbar:active {
    cursor: grabbing;
  }

  .window-topbar button {
    background-color: red;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    outline: none;
    border: none;
    font-size: 14px;
  }

  .window-topbar button:nth-child(2) {
    background-color: #00cc00;
  }

  .window iframe {
    height: 600px;
    width: 600px;
    z-index: 999;
  }

  .mobile-folder-container {
    display: none;
  }

  /* folders starting positions */
  .folder-container .folder:nth-child(1) {
    transform: rotate(-20deg);
  }

  .folder-container .folder:nth-child(2) {
    transform: rotate(20deg);
  }

  .folder-container .folder:nth-child(3) {
    transform: rotate(20deg);
  }

  .folder-container .folder:nth-child(4) {
    transform: rotate(20deg);
  }

  .folder-container .folder:nth-child(5) {
    transform: rotate(20deg);
  }

  .lower-icons {
    position: fixed;
    bottom: 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .contacts {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
  }

  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @media (max-width:480px)  { 
    main {
      background-image: url('./assets/background_mobile.png');
      background-size: cover;
    }

    .mobile-folder-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 100vh;
    }

    .folder-container {
      display: none;
    }

    .cv-container {
      display: none;
    }

    .window {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
    }
  }
